@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

$main-gray-bgcolor:  #313131;
$main-green-bgcolor: #2eb398;

$clip-path-hexagon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

$line-border: 2px solid #e4e9eb;

%center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

%flex-dcolumn {
  display: flex;
  flex-direction: column;
}
%flex-justify-center {
  display: flex;
  justify-content: center;
}
%flex-align-center {
  display: flex;
  align-items: center;  
}
%margin-lr {
  margin: 0 5%;
}

%chapter-header {
  font-size: 30px;
  font-weight: 100;
  font-family: system-ui;
}

%chapter-descr {
  font-size: 18px;
  font-family: system-ui; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: inherit;
}

header {
  height: 70px;
  background-color: $main-gray-bgcolor;
  .a-container {
    @extend %flex-justify-center;
    height: 100%;
    .left-links {
      margin-right: 60px;
      @extend %flex-align-center;
    }
    .right-links {
      margin-left: 60px;
      @extend %flex-align-center;
    }
  }
  a {
    margin: 0 15px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    font-family: sans-serif;
    &:hover {
      color: $main-green-bgcolor;
    }
    // @media (min-width: 370px) and (max-width: 576px) {
    //   margin: 0 7px;
    // }
  }
  span {
    color: #4c4c4c;
    padding-bottom: 15px;
    font-size: 30px;
  }
  .logo {
    @extend %center;
    width: 64px;
    height: 55px;
    top: 40px;
    // @media (min-width: 370px) and (max-width: 576px) {
    //   height: 40px;
    //   width: 40px;
    // }
  }
  .decorate-triangle {
    @include prefix(clip-path, $clip-path-hexagon, webkit);
    @extend %center;
    width: 130px;
    height: 150px;
    top: 20px;
    background-color: $main-gray-bgcolor;
  }
  // @media (min-width: 370px) and (max-width: 576px) {
  //   font-size: 13px;
  // }
}

section {
  padding: 1% 0;
  .lines {
    display: flex;
    margin: 0 4%;
    justify-content: space-between;
    div {
      width: 100%;
      border-top: $line-border;
    }
    .left-line{
      margin-right: 70px;
    }
    .right-line{
      margin-left: 70px;
    }
  }
  .bottom-line {
    border-top: $line-border;
    margin: 0 4%;
  }
}

.hexagon-block {
  margin: 7% 0;
}

.hexagon-container1 {
  @extend %flex-justify-center;
  .vertical-line {
    height: calc(16vw * 1.15 / 2);
    border-left: $line-border;
    position: relative;
    display: flex;
    align-self: center;
  }
  .vertical-left-line {
    @extend .vertical-line;
    right: 1%;
  }
  .vertical-right-line {
    @extend .vertical-line;
    left: 1%;
  }
}

p {
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 22px;
  word-break: break-word;
  @include prefix(hyphens, auto, moz webkit);
}

.hexagon-container2 {
  @extend .hexagon-container1;
  margin: -3% 0;
}
.hexagon {
  @include prefix(clip-path, $clip-path-hexagon, webkit);
  margin: 0 1%;
  height: calc(16vw * 1.15);
  width: 16vw;
  object-fit: cover;
}
.about-part {
  background: $main-green-bgcolor;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  .about-container{
   @extend %flex-dcolumn;
   justify-content: center;
   padding: 7% 2%;  
   border-left: 2px solid #219d84;
   border-right: 2px solid #219d84;
   width: calc(16vw * 4 + 10%);
  }
  .description-part {
    display: flex;
    div {
      @extend %flex-dcolumn;
      margin-left: 20px;
    }
    .author-hexagon {
      width: 205px;
      height: 240px;
      margin: 0;
    }
    .author-name {
      @extend %chapter-header;
      color: #d7fcf5;
    }
    .author-descr {
      @extend %chapter-descr;
      color: #20816d;
    }
    p {
      @extend p;
      color: #d7fcf5;
      margin-top: 15px;
      // @media (min-width: 370px) and (max-width: 576px) {
      //   font-size: 12px;
      // }
    }
  }
  .icon-about-container {
    display: flex;
    align-self: flex-end;
    filter: sepia(100%) hue-rotate(670deg) saturate(618%) invert(1);
    opacity: 0.7;
    img {
      width: 25px;
    }
  }
}
.input-style {
  background: #4e4d4d;
  height: 45px;
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 15px;
  color: #e0e0e0;
  font-family: system-ui;
  font-size: 14px;
}
.send-button-style {
  background-color: $main-green-bgcolor;
  color:#e0e0e0;
  width: 80px;
  height: 40px;
  align-self: flex-end;
  outline: none;
  border: none;
  font-family: system-ui;
  font-size: 12px;
  &:hover{
    cursor: pointer;
  }
}

.gt-section {
  background: $main-gray-bgcolor;
  padding: 1% 0;
  >div {
    @extend %flex-justify-center;
    border-top: 2px solid #2b2b2b;
    border-bottom: 2px solid #2b2b2b;
    margin: 0 4%;
    .gt-block {
      padding: 7% 0;
      width: calc(16vw * 4 + 6%);
      // @media (min-width: 370px) and (max-width: 576px) {
      //   flex-direction: column;
      // }
      >h2 {
        @extend %chapter-header;
        color: #e0e0e0;
      }
      >span {
        @extend %chapter-descr;
        color: #a39999;
      }
      >div{
        display: flex;
        align-items: start;
        margin-top: 25px;
        form {
          @extend %flex-dcolumn;
          flex: 2 2;
          height: 350px;
          justify-content: space-between;
          input {
            @extend .input-style;
          }
          textarea {
            @extend .input-style;
            height: 100px;
            padding-top: 10px;
          }
          button {
            @extend .send-button-style;
          }
        }
        >div {
          flex: 1 1;
          color: #a39999;
          font-size: 15px;
          margin-left: 20px;
          p {
            @extend p;
            margin: 0;
            b {
              color: #e0e0e0;
            }
            // @media (min-width: 370px) and (max-width: 576px) {
            //   font-size: 12px;
            // }
          }
          address {
            margin-top: 40px;
            font-weight: 600;
            font-family: sans-serif;
            font-style: normal;
            font-size: 12px;
            div {
              @extend %flex-align-center;
              margin-top: 5px;
              img {
                margin-right: 10px;
                width: 10px;
              }
              a {
                &:hover{
                  color:white;
                }
              }
            }
            // @media  (min-width: 370px) and (max-width: 576px) {
            //   flex-direction: row;
            //   justify-content: space-around;
            //   flex-wrap: wrap;
            //   font-size: 14px;
            // }
          }
        }
      }
    }
  }
  
}
footer {
  @extend %flex-align-center;
  height: 50px;
  background-color: #222020;
  padding-left: 20px;
  color: #505050;
}