header .logo, header .decorate-triangle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-part .about-container, .about-part .description-part div, .gt-section > div .gt-block > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .a-container, .hexagon-container1, .hexagon-container2, .gt-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .a-container .left-links, header .a-container .right-links, .gt-section > div .gt-block > div > div address div, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-part .description-part .author-name, .gt-section > div .gt-block > h2 {
  font-size: 30px;
  font-weight: 100;
  font-family: system-ui;
}

.about-part .description-part .author-descr, .gt-section > div .gt-block > span {
  font-size: 18px;
  font-family: system-ui;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 70px;
  background-color: #313131;
}

header .a-container {
  height: 100%;
}

header .a-container .left-links {
  margin-right: 60px;
}

header .a-container .right-links {
  margin-left: 60px;
}

header a {
  margin: 0 16px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  font-family: sans-serif;
}

header a:hover {
  color: #2eb398;
}

header span {
  color: #4c4c4c;
  padding-bottom: 15px;
  font-size: 30px;
}

header .logo {
  width: 64px;
  height: 55px;
  top: 40px;
}

header .decorate-triangle {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 130px;
  height: 150px;
  top: 27px;
  background-color: #313131;
}

section {
  padding: 1% 0;
}

section .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .lines div {
  width: 100%;
  border-top: 2px solid #e4e9eb;
}

section .lines .left-line {
  margin-right: 70px;
}

section .lines .right-line {
  margin-left: 70px;
}

section .bottom-line {
  border-top: 2px solid #e4e9eb;
  margin: 0 4%;
}

.hexagon-block {
  margin: 6% 0;
}

.hexagon-container1 .vertical-line, .hexagon-container2 .vertical-line, .hexagon-container1 .vertical-left-line, .hexagon-container2 .vertical-left-line, .hexagon-container1 .vertical-right-line, .hexagon-container2 .vertical-right-line {
  height: calc(16vw * 1.15 / 2);
  border-left: 2px solid #e4e9eb;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.hexagon-container1 .vertical-left-line, .hexagon-container2 .vertical-left-line {
  right: 1%;
}

.hexagon-container1 .vertical-right-line, .hexagon-container2 .vertical-right-line {
  left: 1%;
}

p, .about-part .description-part p, .gt-section > div .gt-block > div > div p {
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 22px;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

.hexagon-container2 {
  margin: -3% 0;
}

.hexagon {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 0 1%;
  height: calc(16vw * 1.15);
  width: 16vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-part {
  background: #2eb398;
  padding: 1% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-part .about-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4% 2%;
  border-left: 2px solid #219d84;
  border-right: 2px solid #219d84;
  width: calc(16vw * 4 + 10%);
}

.about-part .description-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-part .description-part div {
  margin-left: 20px;
}

.about-part .description-part .author-hexagon {
  height: calc(15vw * 1.15);
  width: 15vw;
  margin: 0;
}

.about-part .description-part .author-name {
  color: #d7fcf5;
}

.about-part .description-part .author-descr {
  color: #20816d;
}

.about-part .description-part p, .about-part .description-part .gt-section > div .gt-block > div > div p, .gt-section > div .gt-block > div > div .about-part .description-part p {
  color: #d7fcf5;
  margin-top: 15px;
}

.about-part .icon-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-filter: sepia(100%) hue-rotate(670deg) saturate(618%) invert(1);
          filter: sepia(100%) hue-rotate(670deg) saturate(618%) invert(1);
  opacity: 0.7;
  margin-top: 10px;
}

.about-part .icon-about-container img {
  width: 25px;
}

.input-style, .gt-section > div .gt-block > div form input, .gt-section > div .gt-block > div form textarea {
  background: #4e4d4d;
  height: 45px;
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 15px;
  color: #e0e0e0;
  font-family: system-ui;
  font-size: 14px;
}

.send-button-style, .gt-section > div .gt-block > div form button {
  background-color: #2eb398;
  color: #e0e0e0;
  width: 80px;
  height: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  outline: none;
  border: none;
  font-family: system-ui;
  font-size: 12px;
}

.send-button-style:hover, .gt-section > div .gt-block > div form button:hover {
  cursor: pointer;
}

.gt-section {
  background: #313131;
  padding: 1% 0;
}

.gt-section > div {
  border-top: 2px solid #2b2b2b;
  border-bottom: 2px solid #2b2b2b;
  margin: 0 4%;
}

.gt-section > div .gt-block {
  padding: 4% 0;
  width: calc(16vw * 4 + 6%);
}

.gt-section > div .gt-block > h2 {
  color: #e0e0e0;
}

.gt-section > div .gt-block > span {
  color: #a39999;
}

.gt-section > div .gt-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 25px;
}

.gt-section > div .gt-block > div form {
  -webkit-box-flex: 2;
      -ms-flex: 2 2;
          flex: 2 2;
  height: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gt-section > div .gt-block > div form textarea {
  height: 100px;
  padding-top: 10px;
  resize: none;
}

.gt-section > div .gt-block > div > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #a39999;
  font-size: 15px;
  margin-left: 20px;
}

.about-part .description-part .gt-section > div .gt-block > div > div p, .gt-section > div .gt-block > div > div p {
  margin: 0;
}

.about-part .description-part .gt-section > div .gt-block > div > div p b, .gt-section > div .gt-block > div > div p b {
  color: #e0e0e0;
}

.gt-section > div .gt-block > div > div address {
  margin-top: 40px;
  font-weight: 600;
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
}

.gt-section > div .gt-block > div > div address div {
  margin-top: 5px;
}

.gt-section > div .gt-block > div > div address div img {
  margin-right: 10px;
  width: 10px;
}

.gt-section > div .gt-block > div > div address div a:hover {
  color: white;
}

footer {
  height: 50px;
  background-color: #222020;
  padding-left: 20px;
  color: #505050;
}
/*# sourceMappingURL=style.css.map */